@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-1">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold">Bem-vindo à Webmotors!</h1>

            <br />

            <p class="col-md-10 fs-4">Este projeto foi desenvolvido para a candidatura da vaga de Back-end da Webmotors.</p>

            <br />

            <a asp-controller="Anuncios" asp-action="Index" class="btn btn-primary btn-lg">Anúncios</a>
        </div>
    </div>
</div>